<div class="row">
    <aside class="col-xs-4">
      <section class="user_info">
        <%= render 'shared/user_info' %>
      </section>
      <section class="stats">
        <%= render 'shared/stats' %>
      </section>
      <section class="micropost_form">
        <%= render 'shared/micropost_form' %>
      </section>
      <section>
      <h3>search in feed</h3>
        <%= form_with(url: root_path, scope: :search,
                                      method: :get,
                                      local: true) do |f| %>
          <%= f.label :user_name %>
          <%= f.text_field :user_name, class: 'form-control' %>
      
          <%= f.label :content %>
          <%= f.text_field :content, class: 'form-control' %>
      
          <%= f.submit "search feed", class: "btn btn-primary" %>
        <% end %>
      </section>
    </aside>
    <div class="col-xs-8">
      <h3>Micropost Feed</h3>
      <%= render 'shared/feed' %>
    </div>
</div>