<% provide(:title, @user.name) %>
    <div class="row">
      <aside class="col-xs-4">
        <section class="user_info">
          <h1>
            <%= gravatar_for @user %>
            <%= @user.name %>
          </h1>
            
        </section>
        <section class="stats">
          <%= render 'shared/stats' %>
        </section>
            <%= form_with(model: @talk, remote: true) do |f| %>
              <div><%= hidden_field_tag :user_id, @user.id %></div>
              <%= f.submit "Message", class: "btn btn-primary" %>
            <% end %>
        <section class="search">
            <%= form_with(url: root_path, scope: :search,
                                      method: :get,
                                      local: true) do |f| %>
              <%= f.label :content %>
              <%= f.text_field :content, class: 'form-control' %>
          
              <%= f.submit "search feed", class: "btn btn-primary" %>
            <% end %>
        </section>
      </aside>
      <div class="col-xs-8">
        <%= render 'follow_form' if logged_in? %>
        <% if @user.microposts.any? %>
          <h3>Microposts (<%= @user.microposts.count %>)</h3>
          <ol class="microposts">
            <%= render @microposts %>
          </ol>
          <%= will_paginate @microposts %>
        <% end %>
      </div>
    </div>