<li id="message-<%= message.id %>">
    <% if message.user == current_user %>
        <sction class="my_message">
            <span class="gravatar">
                <%= link_to gravatar_for(message.user, size: 50), message.user %>
            </span>
            <div class="my_frame">
                <span class="user">
                    <%= link_to message.user.name, message.user %>
                </span>
                <span class="content">
                    <%= message.content %>
                </span>
                <span class="timestamp">
                    Posted <%= time_ago_in_words(message.created_at) %> ago.
                </span>        
            </div>
            
        </section>
    <% else %>
        <section class="others_message">
            <span class="gravatar">
                <%= link_to gravatar_for(message.user, size: 50), message.user %>
            </span>
            <div class="others_frame">
                <span class="user">
                    <%= link_to message.user.name, message.user %>
                </span>
                <span class="content">
                    <%= message.content %>
                </span>
                <span class="timestamp">
                    Posted <%= time_ago_in_words(message.created_at) %> ago.
                </span>
            </div>
        </section>
    <% end %>
</li>